body {
	/* 	background-color:red; */
	background-image: url("../imagenes/fondo.jpg");
}

@font-face {
	font-family: Gta;
	src: url(BrokenMachine.ttf);

}

.contenedorFondo {
	position: absolute;
	left: 10%;
	top: 10%;
	background-color: #808080;
	border-radius: 50px;
	width: 80%;
	height: 690%;
}

#mostrarGenerado{
	position: relative;
	bottom:0px;
	
	width: 280px;
	
	border-style: solid;
}
.vacio{
	height: 50px;
}
.contenedorPrincipal {
	position: absolute;
	left: 10%;
	top: 10%;
	width: 80%;
	height: 100%;
}


.textoArriba {
	position: relative;
	text-align: center;
	top:3%;
	font-weight:lighter;
	font-size:20px;
	color: #ff8d1c;
	font-family: Gta, Helvetica, sans-serif;
	background-color: #0000ff;
	background-image: url("../imagenes/intro.jpg");
}

.generador {
	position: relative;
	top: 3%;
/* 	background-color: #ff0080; */
	width: 100%;
/* 	height: 10%; */
}

.instrucciones {
	position: relative;
	top: 3%;
	text-align: center;
	background-color: #ff8000;
	width: 100%;
	height: auto;
}

.columna1 {
	position: absolute;
	left: 5%;
	background-color: #c0c0c0;
	width: 90%;
	height: auto;
}

p {
	font-size: 50px;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
}

img {
	height: 100%;
	width: 100%;
}

li {
	list-style: none;
}

.select-css {
	position: absolute;
	left:0px;
	display: block;
	font-size: 16px;
	font-family: 'Verdana', sans-serif;
	font-weight: 400;
	color: #444;
	line-height: 1.3;
	padding: .4em 1.4em .3em .8em;
	width: 400px;
	max-width: 100%;
	box-sizing: border-box;
/* 	margin: 20px auto; */
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0, 0, 0, .03);
	border-radius: .3em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image:
		url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
		linear-gradient(to bottom, #ffffff 0%, #f7f7f7 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}

.select-css::-ms-expand {
	display: none;
}

.select-css:hover {
	border-color: #888;
}

.select-css:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}

.select-css option {
	font-weight: normal;
}

.classOfElementToColor:hover {
	background-color: red;
	color: black
}

.select-css option[selected] {
	background-color: orange;
}


.styled-select {
	width: 240px;
	height: 34px;
	overflow: hidden;
	background: url(new_arrow.png) no-repeat right #ddd;
	border: 1px solid #ccc;
}*,*:after,*:before{
  box-sizing: border-box;
}





#myProgress {
  position: relative;
  width: 100%;
  height: 30px;
  background-color: #ddd;
}

#myBar {
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: #4CAF50;
}
#mensaje{width:auto;
position: absolute;
top: 100%;

}
#label {
  text-align: center;
  line-height: 30px;
  color: white;
}






